fastapi[all]
uvicorn
requests
transformers
sentence-transformers
faiss-cpu
torch
huggingface-hub
accelerate>=0.26.0
gunicorn
redis
langgraph
langchain
langchain_huggingface
fuzzywuzzy
python-Levenshtein

